*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
android/app/build/
android/.gradle/
android/build/
android/local.properties
venv/
__pycache__/
*.pyc
data/decisions.json
data/show_decisions.json
*.apk
